<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdpro.mapper.PGoodsImgMapper" >
  <resultMap id="BaseResultMap" type="com.tdpro.entity.PGoodsImg" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goodsId" property="goodsId" jdbcType="BIGINT" />
    <result column="imgPath" property="imgPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsId, imgPath
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_goods_img
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_goods_img
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tdpro.entity.PGoodsImg" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_goods_img (goodsId, imgPath)
    values (#{goodsId,jdbcType=BIGINT}, #{imgPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tdpro.entity.PGoodsImg" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_goods_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goodsId,
      </if>
      <if test="imgPath != null" >
        imgPath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdpro.entity.PGoodsImg" >
    update p_goods_img
    <set >
      <if test="goodsId != null" >
        goodsId = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="imgPath != null" >
        imgPath = #{imgPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdpro.entity.PGoodsImg" >
    update p_goods_img
    set goodsId = #{goodsId,jdbcType=BIGINT},
      imgPath = #{imgPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectListByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from p_goods_img
    where goodsId = #{0}
  </select>
</mapper>