<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdpro.mapper.PGoodsClassMapper" >
  <resultMap id="BaseResultMap" type="com.tdpro.entity.PGoodsClass" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="className" property="className" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
    <result column="iconPath" property="iconPath" jdbcType="VARCHAR" />
    <result column="isShow" property="isShow" jdbcType="INTEGER" />
    <result column="isDel" property="isDel" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, className, sort, `explain`, iconPath, isShow, isDel, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_goods_class
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_goods_class
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tdpro.entity.PGoodsClass" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_goods_class (className, sort, `explain`, 
      iconPath, isShow, isDel, 
      createTime)
    values (#{className,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{explain,jdbcType=VARCHAR}, 
      #{iconPath,jdbcType=VARCHAR}, #{isShow,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tdpro.entity.PGoodsClass" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_goods_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="className != null" >
        className,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="explain != null" >
        `explain`,
      </if>
      <if test="iconPath != null" >
        iconPath,
      </if>
      <if test="isShow != null" >
        isShow,
      </if>
      <if test="isDel != null" >
        isDel,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="iconPath != null" >
        #{iconPath,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdpro.entity.PGoodsClass" >
    update p_goods_class
    <set >
      <if test="className != null" >
        className = #{className,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        `explain` = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="iconPath != null" >
        iconPath = #{iconPath,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        isShow = #{isShow,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        isDel = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdpro.entity.PGoodsClass" >
    update p_goods_class
    set className = #{className,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      `explain` = #{explain,jdbcType=VARCHAR},
      iconPath = #{iconPath,jdbcType=VARCHAR},
      isShow = #{isShow,jdbcType=INTEGER},
      isDel = #{isDel,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from p_goods_class
    where isDel=0
    and isShow=1
    order by sort asc,createTime desc
    limit 0,#{0}
  </select>
  <select id="findGoodsClassPageList" resultType="com.tdpro.entity.extend.GoodsClassPageETD" parameterType="com.tdpro.entity.extend.GoodsClassPageETD">
    select *
    from p_goods_class
    where isDel=0
      <if test="className != null ">
        and className like concat(concat('%', #{className}), '%')
      </if>
    order by sort asc,createTime desc
  </select>
  <select id="findByNameOrNotId" resultMap="BaseResultMap" parameterType="com.tdpro.entity.PGoodsClass" >
    select
    <include refid="Base_Column_List" />
    from p_goods_class
    <where>
      <if test="className != null">
        and className = #{className}
      </if>
      <if test="id != null">
        and id != #{id}
      </if>
    </where>
    limit 1
  </select>
</mapper>