<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdpro.mapper.PGoodsExchangeMapper" >
  <resultMap id="BaseResultMap" type="com.tdpro.entity.PGoodsExchange" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goodsId" property="goodsId" jdbcType="BIGINT" />
    <result column="voucherId" property="voucherId" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsId, voucherId, `number`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_goods_exchange
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_goods_exchange
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tdpro.entity.PGoodsExchange" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_goods_exchange (goodsId, voucherId, `number`
      )
    values (#{goodsId,jdbcType=BIGINT}, #{voucherId,jdbcType=BIGINT}, #{number,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tdpro.entity.PGoodsExchange" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_goods_exchange
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goodsId,
      </if>
      <if test="voucherId != null" >
        voucherId,
      </if>
      <if test="number != null" >
        `number`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="voucherId != null" >
        #{voucherId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdpro.entity.PGoodsExchange" >
    update p_goods_exchange
    <set >
      <if test="goodsId != null" >
        goodsId = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="voucherId != null" >
        voucherId = #{voucherId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        `number` = #{number,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdpro.entity.PGoodsExchange" >
    update p_goods_exchange
    set goodsId = #{goodsId,jdbcType=BIGINT},
      voucherId = #{voucherId,jdbcType=BIGINT},
      `number` = #{number,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectListByGoodsId" resultType="com.tdpro.entity.extend.GoodsExchangeETD" parameterType="java.lang.Long" >
    select e.id,e.goodsId,e.voucherId,e.number,v.voucherName
    from p_goods_exchange e
    left join p_voucher v on e.voucherId=v.id
    where e.goodsId = #{0}
  </select>
  <select id="selectByGoodsIdAndVoucherId" resultType="com.tdpro.entity.extend.GoodsExchangeETD" >
    select e.id,e.goodsId,e.voucherId,e.number,v.voucherName,v.faceValue
    from p_goods_exchange e
    left join p_voucher v on e.voucherId=v.id
    where e.goodsId = #{goodsId}
    and e.voucherId=#{voucherId}
    limit 1
  </select>
</mapper>