<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdpro.mapper.POrderVoucherMapper" >
  <resultMap id="BaseResultMap" type="com.tdpro.entity.POrderVoucher" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderId" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="userVoucherId" property="userVoucherId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderId, `uid`, userVoucherId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_order_voucher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_order_voucher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tdpro.entity.POrderVoucher" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_order_voucher (orderId, `uid`, userVoucherId
      )
    values (#{orderId,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{userVoucherId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tdpro.entity.POrderVoucher" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_order_voucher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="uid != null" >
        `uid`,
      </if>
      <if test="userVoucherId != null" >
        userVoucherId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="userVoucherId != null" >
        #{userVoucherId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdpro.entity.POrderVoucher" >
    update p_order_voucher
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        `uid` = #{uid,jdbcType=BIGINT},
      </if>
      <if test="userVoucherId != null" >
        userVoucherId = #{userVoucherId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdpro.entity.POrderVoucher" >
    update p_order_voucher
    set orderId = #{orderId,jdbcType=BIGINT},
      `uid` = #{uid,jdbcType=BIGINT},
      userVoucherId = #{userVoucherId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findListByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from p_order_voucher
    where orderId=#{0}
  </select>
</mapper>