<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdpro.mapper.PUserMonthKnotMapper" >
  <resultMap id="BaseResultMap" type="com.tdpro.entity.PUserMonthKnot" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="knotPrice" property="knotPrice" jdbcType="DECIMAL" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="newOrderNum" property="newOrderNum" jdbcType="INTEGER" />
    <result column="newOrderPrice" property="newOrderPrice" jdbcType="DECIMAL" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `uid`, knotPrice, `year`, `month`, newOrderNum, newOrderPrice, createTime,rate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_user_month_knot
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_user_month_knot
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tdpro.entity.PUserMonthKnot" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_user_month_knot (`uid`, knotPrice, `year`, 
      `month`, newOrderNum, newOrderPrice, 
      createTime)
    values (#{uid,jdbcType=BIGINT}, #{knotPrice,jdbcType=DECIMAL}, #{year,jdbcType=INTEGER}, 
      #{month,jdbcType=INTEGER}, #{newOrderNum,jdbcType=INTEGER}, #{newOrderPrice,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tdpro.entity.PUserMonthKnot" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into p_user_month_knot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        `uid`,
      </if>
      <if test="knotPrice != null" >
        knotPrice,
      </if>
      <if test="year != null" >
        `year`,
      </if>
      <if test="month != null" >
        `month`,
      </if>
      <if test="newOrderNum != null" >
        newOrderNum,
      </if>
      <if test="newOrderPrice != null" >
        newOrderPrice,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="rate != null" >
        rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="knotPrice != null" >
        #{knotPrice,jdbcType=DECIMAL},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
      <if test="newOrderNum != null" >
        #{newOrderNum,jdbcType=INTEGER},
      </if>
      <if test="newOrderPrice != null" >
        #{newOrderPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rate != null" >
        #{rate},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdpro.entity.PUserMonthKnot" >
    update p_user_month_knot
    <set >
      <if test="uid != null" >
        `uid` = #{uid,jdbcType=BIGINT},
      </if>
      <if test="knotPrice != null" >
        knotPrice = #{knotPrice,jdbcType=DECIMAL},
      </if>
      <if test="year != null" >
        `year` = #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        `month` = #{month,jdbcType=INTEGER},
      </if>
      <if test="newOrderNum != null" >
        newOrderNum = #{newOrderNum,jdbcType=INTEGER},
      </if>
      <if test="newOrderPrice != null" >
        newOrderPrice = #{newOrderPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdpro.entity.PUserMonthKnot" >
    update p_user_month_knot
    set `uid` = #{uid,jdbcType=BIGINT},
      knotPrice = #{knotPrice,jdbcType=DECIMAL},
      `year` = #{year,jdbcType=INTEGER},
      `month` = #{month,jdbcType=INTEGER},
      newOrderNum = #{newOrderNum,jdbcType=INTEGER},
      newOrderPrice = #{newOrderPrice,jdbcType=DECIMAL},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findByUidAndYearAndMonth" resultMap="BaseResultMap" parameterType="com.tdpro.entity.PUserMonthKnot" >
    select
    <include refid="Base_Column_List" />
    from p_user_month_knot
    where uid = #{uid}
    and `year`=#{year}
    and `month`=#{month}
    limit 1
  </select>
  <select id="findAdminPageList" resultType="com.tdpro.entity.extend.UserMonthKnotPageETD" parameterType="com.tdpro.entity.extend.UserMonthKnotPageETD">
    select mk.*,u.phone
    from p_user_month_knot mk
    left join p_user u on mk.uid=u.id
    <where>
      <if test="phone != null">
        u.phone like concat(concat('%', #{phone}), '%')
      </if>
    </where>
    order by createTime desc
  </select>
</mapper>